html
	head
		title Hello!
	body
		h1 All Students
		hr
		h4 Students list:
		ul 
			each student in students
				li= student.name

		form(action='/students', method='POST')
			p Add a student:
			input(name='student_name')
			input(type='submit')